    /* styles.css */

/* MARGENES Y PADDING */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
/* FINAL MARGENES Y PADDING */

/* NAVEGADOR */
    nav {
        background-color: #000000;
        padding: 5px;
    } 

    nav ul {
        list-style-type: none;
        margin: 0;  
        font-size: 25px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        margin: 0 70px;
    }
    .nav-link dropdown-toggle{
        color: #f7f7f7;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff ;
        font-weight: bold;
    }

    nav ul li a:hover {
        color: #55a1ff; 
    }

/* FINAL NAVEGADOR */


/* ENLACES */
    a {
        text-decoration: none;
    }
/* FINAL ENLACES */

/* CAROUSEL */
.carousel-item{
    margin-top: 0px;
    height: 500px;
}

.col-md-6_1{
    opacity: 0.9;
    margin-top: 120px;
    max-width: 100%;
    width:auto;
    height: auto;
}
/* FINAL CAROUSEL */

/* RECUADROS */
    .container1 {
        background-image: url(../BG_sangre.jpg);
        opacity: 50;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 0px;
      
    }
/* FINAL RECUADROS */

/* FILAS Y COLUMNAS */
    .row {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 5px;
    }

    .col {
        flex: 1;
        min-width: 300px;
        margin: 5px;
        padding: 0px;
        background-color: goldenrod;
        border-radius: 1px;
    }

    .col1 {
        flex: 1;
        min-width: 300px;
        margin: 5px;
        padding: 0px;
        background-color: #000000;
        border-radius: 1px;
    }
/* FINAL FILAS Y COLUMNAS */

/* TEXTO */
    /* Titulos */
    h1{
        color: #000000;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 20px;
    } 
    h2 {
        color: #000000;
        text-align: center;
        font-weight: bold;
        margin-top: 8px;
    }
    
    h4 {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        margin-top: 8px;
    }

    h3 {
        color: #9c0c0c;
        text-align: center;
    }
    
    h5 {
        font-size: 60px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow:  -6px 0px 3px rgb(0, 0, 0);
    }

    h6 {text-decoration: none;
        color: #ffffff ;
        font-weight: bold;
        list-style-type: none;
        margin: 0;  
        font-size: 25px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 200 250px;
        margin-top: 36px;
    }

    h6:hover{
        color: #55a1ff; 
    }
    
    h7 {
        margin-bottom: 80px;
        margin-left: -10px;
        color: #0b0b0b;
        font-size: 30px;
        font-weight: bold;
        text-shadow:  -1px 0px 1px rgb(0, 0, 0);
        padding: 8px;
        border-radius: 5px;
        background-color: #f7f7f7;
        font-family: myriad-variable, sans-serif;
        letter-spacing: 5px;
    }
    /* Paragrafos */
    p {
        color: #000000;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    /* Paragrafos + tipo*/
    .p1 {
        text-align: center;
        font-weight: bold;
        font-family: HALLOWEEN;
    }
    .t1 {
        text-align: center;
        font-weight: bold;
        font-family: ACCION;
    }

    .t2 {
        text-align: center;
        font-weight: bold;
        font-family: ANIMACION;
    }

    .t3 {
        text-align: center;
        font-weight: bold;
        font-family: COMEDIA;
    }

    /* Tipografia_*/
    @font-face {
        font-family: HALLOWEEN;
        src: url(../Halloween.ttf);
    }

    @font-face {
        font-family: ACCION;
        src: url(../Movement.ttf);
    }

    @font-face {
        font-family: ANIMACION;
        src: url(../KIdDOS-Regular.ttf);
    }

    @font-face {
        font-family: COMEDIA;
        src: url(../duran.ttf);
    }


    /* Caja texto____FALTA QUE SE AJUSTE AL TEXTO*/
    .cajafondo {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.235);
        padding: 2px;
        border: 1px; 
        border-radius: 15px;
    }
    .contac{
        background-color: rgb(2, 2, 2);
        text-align: center;   
        font-size: 30px;     
        color: #f7f7f7;    
    }
    .con{
        margin: 10px auto;  
        background-color: rgb(255, 255, 255);
        line-height: 2;
    }
    .col-md-6{
        margin: 0px;
    }
   
/* FINAL TEXTO */


/* CONTACTE */
.con{
    margin: 20px auto;  
    background-color: rgb(255, 255, 255);
    line-height: 2;
}
.col-md-6{
    margin: 0px;
}
/* FINAL CONTACTE */


/* HOVER CARTELES */
.imag:hover {
    opacity: 50%;
}

.soldout:hover {
   opacity: 100%;
}
/* FINAL HOVER CARTELES */

/* PRECIOS */
td:hover {
  font-weight: bold;
}