    /* styles.css */

/* MARGENES Y PADDING */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
/* FINAL MARGENES Y PADDING */

/* NAVEGADOR */
    nav {
        background-color: #000000;
        padding: 5px;
    } 

    nav ul {
        list-style-type: none;
        margin: 0;  
        font-size: 25px;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0 100px;
    }

    nav ul li a {
        text-decoration: none;
        color: #ffffff ;
        font-weight: bold;
    }

    nav ul li a:hover {
        color: #55a1ff; 
    }

/* FINAL NAVEGADOR */


/* CAROUSEL */
.carousel-item{
    margin-top: 0px;
    height: 500px;
}

.col-md-6{
    opacity: 0.9;
    margin-top: 120px;
    max-width: 100%;
    width:auto;
    height: auto;
}
/* FINAL CAROUSEL */

/* RECUADROS */
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        margin-top: 0px;
        /* poner_____el____BG___de___la_____imagen____de___sangre */
    }
/* FINAL RECUADROS */

/* FILAS Y COLUMNAS */
    .row {
       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 5px;
    }

    .col {
        flex: 1;
        min-width: 300px;
        margin: 5px;
        padding: 0px;
        background-color: goldenrod;
        border-radius: 1px;
    }
/* FINAL FILAS Y COLUMNAS */

/* TEXTO */
    /* Titulos */
    h1{
        color: #000000;
        font-size: 60px;
        font-weight: bold;
        text-align: center;
    } 
    h2 {
        color: #000000;
        text-align: center;
        font-weight: bold;
    }
    
    h5{
        font-size: 60px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow:  -6px 0px 3px rgb(0, 0, 0);
    }
    /* Paragrafos */
    p {
        color: #000000;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    /* Paragrafos CENTRADO*/
    .p1 {
        text-align: center;
    }
    /* Tipografia____HALLOWEEN________POR________HACER*/
    .terror{
    font-family: 'CFNightofTerrorPERSONAL-Reg';
    src: url('CFNightofTerrorPERSONAL-Reg.ttf') format('truetype');
    }
    /* Caja texto____FALTA QUE SE AJUSTE AL TEXTO*/
    .cajafondo
    {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.235);
        padding: 2px;
        border: 1px; 
        border-radius: 15px;
    }
    
/* FINAL TEXTO */

